@charset "utf-8";
* {
  margin:0;
  padding:0;
}

.header {
  height:56px;
  width:100%;
  box-shadow:0 0 10px #dddddd;
  background-color:white;
  position:fixed;
  top:0;
}

.header-left {
  float:left;
}

.header-right {
  float:right;
}

.header-logo {
  height:60px;
  margin-top:8px;
  width:100px;
}

.clear {
  clear:both;
}

.header-right a {
  line-height:56px;
  color:#5a5c5f;
  margin-left:5px;
  font-size:16px;
  padding:16px 5px;
}

.header-right a:hover {
  background-color:#e2f1ff;
  transition:background-color 0.5s;
}
