@charset "utf-8";

.menu {
  padding:90px 0 60px;
  color:#5a5c5f;
}

.menu-card {
  width:33%;
  margin-top:35px;
}

.menu-card-inner {
  padding:25px 30px;
  background-color:#dbe0e4;
  border-radius:7px;
  box-shadow:1px 1px 4px #d2d4d6;
  text-align:center;
}

.menu-image {
  width:100%;
  margin-bottom:20px;
  border-radius:5px;
}

.menu-title {
  margin-bottom:8px;
}

.menu-card-inner p {
  font-size:14px;
}

.menu-card-wrapper {
  display:flex;
  flex-wrap:wrap;
  margin:0 20px;
}

.twitter-card-inner {
  padding:25px 30px;
  background-color:#7adcff;
  border-radius:7px;
  box-shadow:1px 1px 4px #d2d4d6;
  text-align:center;
}

.youtube-card-inner {
  padding:25px 30px;
  background-color:#ff4a4a;
  border-radius:7px;
  box-shadow:1px 1px 4px #d2d4d6;
  text-align:center;
}

.discord-card-inner {
  padding:25px 30px;
  background-color:#7581ff;
  border-radius:7px;
  box-shadow:1px 1px 4px #d2d4d6;
  text-align:center;
}

.Instagram-card-inner {
  padding:25px 30px;
  background-color:#ff6bf5;
  border-radius:7px;
  box-shadow:1px 1px 4px #d2d4d6;
  text-align:center;
}
.menu-card a {
  height:100%;
  width:100%;
}
